name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        nvim-tag: [stable]

    steps:
      - uses: actions/checkout@v3
      - name: Prepare Nvim
        env:
          NVIM_TAG: ${{ matrix.nvim-tag }}
        run: |
          sudo apt-get update && sudo apt-get install libfuse2
          sudo add-apt-repository universe
          wget https://github.com/neovim/neovim/releases/download/${NVIM_TAG}/nvim.appimage
          chmod u+x nvim.appimage && sudo mv nvim.appimage /usr/local/bin/nvim
          # mkdir -p ~/.local/share/nvim/site/pack/tests/opt
          # ln -s $(pwd) ~/.local/share/nvim/site/pack/tests/opt
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        run: tox
